body {
  background: rgba(30, 48, 103,.9);
  color: #fff;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.mypage {
  z-index: 1;
}
.element {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content:space-around;
  row-gap: 6ch;
}
.under-element {
  box-shadow: 5px 5px 5px rgba(0,0,0,.4);
  background-color: rgba(127,127,127,.5);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 620px;
  position:relative;
}
button {
  border: none;
  color: #fff;
  background-color: rgba(127,127,127,.5);
  box-shadow: 5px 5px 5px rgba(0,0,0,.4);
  font-size: 15pt;
  cursor: pointer;
  border-radius: 10px;
}
h2 {
  text-align: left;
}
p {
  width: 500px;
  text-align: justify;
}
a {
  color: #fff;
  text-decoration:underline;
}
a:visited {
  color: #fff;
  text-decoration: inherit;
}

.codesource {
  position:absolute;
  display: flex;
  flex-flow: column;
  bottom:0;
  left:0;
  right:0;
  gap: 5px;
}

.link-img-text {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-flow: row nowrap;
  column-gap: 5px;
  width: fit-content;
  margin-left:auto;
  margin-right:auto;
  color: #000 !important;
}

footer {
  text-align: center;
  height:100px;
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #5d4a6d;
    top: 29%;
    left: 30%;
    animation-duration: 15s;
    animation-delay: -20s;
    transform-origin: -10vw -21vh;
    box-shadow: 40vmin 0 5.428948421322606vmin currentColor;
}
.background span:nth-child(1) {
    color: #455c92;
    top: 75%;
    left: 76%;
    animation-duration: 20s;
    animation-delay: -10s;
    transform-origin: -3vw 1vh;
    box-shadow: -40vmin 0 5.229540445019192vmin currentColor;
}
.background span:nth-child(2) {
    color: #5d4a6d;
    top: 75%;
    left: 84%;
    animation-duration: 37s;
    animation-delay: -39s;
    transform-origin: 1vw 5vh;
    box-shadow: 40vmin 0 5.179104828199444vmin currentColor;
}
.background span:nth-child(3) {
    color: #5d4a6d;
    top: 95%;
    left: 28%;
    animation-duration: 33s;
    animation-delay: -11s;
    transform-origin: -8vw 7vh;
    box-shadow: -40vmin 0 5.894851931548671vmin currentColor;
}
.background span:nth-child(4) {
    color: #385745;
    top: 36%;
    left: 18%;
    animation-duration: 22s;
    animation-delay: -6s;
    transform-origin: 6vw 15vh;
    box-shadow: 40vmin 0 5.169992261521335vmin currentColor;
}
.background span:nth-child(5) {
    color: #385745;
    top: 17%;
    left: 34%;
    animation-duration: 47s;
    animation-delay: -12s;
    transform-origin: -20vw 9vh;
    box-shadow: -40vmin 0 5.8136920247018vmin currentColor;
}
.background span:nth-child(6) {
    color: #5d4a6d;
    top: 34%;
    left: 77%;
    animation-duration: 43s;
    animation-delay: -28s;
    transform-origin: -10vw -13vh;
    box-shadow: 40vmin 0 5.662453278512452vmin currentColor;
}
.background span:nth-child(7) {
    color: #385745;
    top: 50%;
    left: 61%;
    animation-duration: 21s;
    animation-delay: -50s;
    transform-origin: 22vw 6vh;
    box-shadow: 40vmin 0 5.289284614517125vmin currentColor;
}
.background span:nth-child(8) {
    color: #455c92;
    top: 71%;
    left: 34%;
    animation-duration: 18s;
    animation-delay: -16s;
    transform-origin: 17vw -7vh;
    box-shadow: 40vmin 0 5.475724096601161vmin currentColor;
}
.background span:nth-child(9) {
    color: #455c92;
    top: 72%;
    left: 7%;
    animation-duration: 33s;
    animation-delay: -31s;
    transform-origin: 23vw 22vh;
    box-shadow: -40vmin 0 5.703747715686548vmin currentColor;
}
.background span:nth-child(10) {
    color: #455c92;
    top: 78%;
    left: 58%;
    animation-duration: 24s;
    animation-delay: -38s;
    transform-origin: 16vw 2vh;
    box-shadow: 40vmin 0 5.770951935083779vmin currentColor;
}
.background span:nth-child(11) {
    color: #385745;
    top: 36%;
    left: 94%;
    animation-duration: 19s;
    animation-delay: -32s;
    transform-origin: 7vw 5vh;
    box-shadow: 40vmin 0 5.972619623339696vmin currentColor;
}
.background span:nth-child(12) {
    color: #5d4a6d;
    top: 23%;
    left: 72%;
    animation-duration: 48s;
    animation-delay: -45s;
    transform-origin: 12vw 4vh;
    box-shadow: -40vmin 0 5.658429206815516vmin currentColor;
}
.background span:nth-child(13) {
    color: #455c92;
    top: 22%;
    left: 45%;
    animation-duration: 41s;
    animation-delay: -18s;
    transform-origin: -24vw -18vh;
    box-shadow: -40vmin 0 5.670468155593069vmin currentColor;
}
.background span:nth-child(14) {
    color: #455c92;
    top: 5%;
    left: 28%;
    animation-duration: 14s;
    animation-delay: -13s;
    transform-origin: 21vw 19vh;
    box-shadow: -40vmin 0 5.864529360263337vmin currentColor;
}
.background span:nth-child(15) {
    color: #5d4a6d;
    top: 30%;
    left: 27%;
    animation-duration: 13s;
    animation-delay: -27s;
    transform-origin: -3vw -1vh;
    box-shadow: -40vmin 0 5.327795298815813vmin currentColor;
}
.background span:nth-child(16) {
    color: #5d4a6d;
    top: 15%;
    left: 65%;
    animation-duration: 40s;
    animation-delay: -43s;
    transform-origin: 11vw 25vh;
    box-shadow: -40vmin 0 5.773514573190397vmin currentColor;
}
.background span:nth-child(17) {
    color: #5d4a6d;
    top: 88%;
    left: 28%;
    animation-duration: 25s;
    animation-delay: -11s;
    transform-origin: 16vw -3vh;
    box-shadow: -40vmin 0 5.52997818230264vmin currentColor;
}
.background span:nth-child(18) {
    color: #5d4a6d;
    top: 27%;
    left: 3%;
    animation-duration: 40s;
    animation-delay: -38s;
    transform-origin: 1vw 12vh;
    box-shadow: -40vmin 0 5.787045592485649vmin currentColor;
}
.background span:nth-child(19) {
    color: #455c92;
    top: 19%;
    left: 91%;
    animation-duration: 11s;
    animation-delay: -40s;
    transform-origin: 5vw -5vh;
    box-shadow: -40vmin 0 5.260421957181702vmin currentColor;
}

@media screen and (max-width: 1084px) {
  body {
    font-size: 48px;
  }
  p {
    width: 90vw;
    text-align: justify;
    font-size: 48px;
  }
  button {
    width: 90vw;
    box-shadow: 12px 12px 12px rgba(0,0,0,.4);
    font-size: 48px !important;
  }
  .under-element {
    height: 1800px;
    width: 90vw;
    box-shadow: 12px 12px 12px rgba(0,0,0,.4);
    border-radius: 20px;
  }
  .under-element img {
    width: 95% !important;
  }
  .under-element iframe {
    width: 95% !important;
    height : 28%;
  }
  .link-img-text {
    font-size: 48px !important;
    padding-bottom: 10px;
  }
  .link-img-text img {
    width: 48px !important;
  }

}
